

@media (max-width: 1087px) {
	.blockLesson {
		justify-content: center;
		gap: 40px;
	}

	.blockQuestSteps {
		justify-content: center;
    gap: 30px;
	}

	.sellImg {
		//left: ;
	}
}

@media (max-width: 885px) {
	.secGift {
		justify-content: center;
	}


}

@media (max-width: 850px) {
	.blockHeader {
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 20px;
		text-align: center;
	}

	.block h2 {
		margin: 0;
	}

	.secSeeYou h2 {
		margin-bottom: 30px;
	}

	.headParagraph {
		max-width: 500px;
	}

	.footerLogo {
		margin-right: auto;
	}
}

@media (max-width: 680px) {
	.footerLinks {
		justify-content: center;
	}

	.footerLogo {
		display: none;
	}

	.sellParagrph {
		font-size: 28px;
	}

}

@media (max-width: 500px) {
	.infoGift {
		width: 100%;
		max-width: 495px;
	}


}

.sellParagrph{
  max-width: 573px;
}
@media (max-width: 1200px) {
  .sellParagrph{

    position: relative;
    .sellImg{
      top: -39px;
      left: -29px;
    }
  }
}
@media (max-width: 680px) {
  .sellParagrph .sellImg {
    top: -22px;
    left: -9px;
    width: 170px;
  }
  .block h2, .thirdHeader{
    font-size: 30px;
  }
  .section3__days{
    justify-content: center;
  }
  .thirdHeader{
    margin-bottom: 30px;
  }
}


.fixed {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  @media (max-width: 750px){
    box-shadow: 0px 0px 2rem rgb(127 137 161 / 30%);
  }
}
.fixed_block_position{
  width: 100% !important;
}

