.section3{
  margin-bottom: 190px;
  @media (max-width: 680px){
    margin-bottom: 90px;
  }
}
.section3__info{
  display: flex;
  margin-bottom: 40px;

  img{
    width: 150px;
    height: 150px;
    margin-right: 40px;
  }
  .p{
    font-size: 28px;
    letter-spacing: -0.01em;
    line-height: 1.1;
    font-weight: 600;
  }
  @media (max-width: 680px){
    flex-direction: column;
    align-items: center;
    text-align: center;
    img{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }
  }
}
.day-content{
  display: none;
  input{
    display: none;
    &:checked ~ label{

      color: #0088FE;
      path {
        fill: #0088FE;
      }
      &::after{
        content: "";
      }
    }

  }
  label{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0s;
    position: relative;

    &::after{
      background-image: url(../img/svg/giftHearths.svg);
      position: absolute;
      right: -20px;
      top: 0;
      background-size: cover;
      width: 20px;
      height: 19px;

    }
  }
  svg{
    margin-right: 10px;
    transition: 0s;
  } path {
    fill: #0B212F;
  }
  p{
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #0B212F;
    font-weight: 600;
    background: #EDF7FF;
    border-radius: 100px;
    max-width: 174px;
    width: 100%;
    min-height: 38px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.day-active__title{
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #0B212F;
  margin-bottom: 10px;
  transition: 0s;
}
.day-active__time{
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.01em;

  color: #0B212F;
  display: none;
  align-items: center;
}
.day-active__time--visible{
  display: flex;
}
.none-mest{
  display: block;
  color: red;
  font-weight: 700;
}
.day-active__time--visible ~ .none-mest{
  display: none;
}

.day-active{
  .day-expectation{
    display: none
  }
  .day-content{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    @media (max-width: 991px){
      height: inherit;
    }
  }


}


.section3__date{
  display: flex;
  gap: 52px;

  @media (max-width: 991px){
    flex-direction: column;
    & > *{
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 415px;
      width: 100%;
    }
  }
}
.section3__days{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 420px;

}
.section3__day{
  background: #EDF3F8;
  border-radius: 20px;
  width: 127px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #6C93B3;

  position: relative;
}
.section3__day-none{
  opacity: 0.4;
  .section3__lock{
    display: none;
  }

}

.section3__number{
  font-size: 22px;
}
.section3__month{
  font-size: 16px;
}
.section3__lock{
  border-radius: 50%;
  background: #6C93B3;
  width: 21px;
  height: 21px;

  position: absolute;
  right: 7px;
  top: 7px;
  background-image: url(../img/svg/section3-zamok.svg);
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: center;
}

.section3__form{
  display: flex;
  justify-content: space-between;
  background: #EBF5FF;
  border-radius: 40px;
  padding: 56px;
  margin-top: 70px;
  @media (max-width: 991px){
    flex-direction: column;
    & > *{
      max-width: 415px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

  }
  @media (max-width: 680px){
    padding: 30px;
  }

  .block-left{
    h2.title{
      text-align: left;
      margin-bottom: 35px;
      @media (max-width: 680px){
        text-align: center;
        br{
          display: none;
        }
      }
    }
    p{
      color: #6C93B3;
      font-size: 20px;
      letter-spacing: -0.01em;
      line-height: 1.35;
      @media (max-width: 680px){
        text-align: center;
      }
    }
  }
  .block-right{
    max-width: 488px;
    width: 100%;
  }
  ::placeholder {
    color: #0B212F;

  }
  input{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #0B212F;

    &[type="text"]{
      height: 56px;
      border-radius: 10px;
      margin-bottom: 20px;
      border: 1px solid #6C93B3;
    }
  }
  .two-elements{

    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    @media (max-width: 680px){
      flex-direction: column;
      gap: 0;
    }
  }
  p{
    font-size: 20px;
  }

  .form-check-input[type=radio]{

    background: #fff;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    box-shadow: 0px 0 0 1px #0088fe;
    margin-top: 0;
  }
  .form-check-input:checked[type=radio]{
    border: 8px solid #fff;
    background: #0088FE;

  }
  label{
    font-size: 20px;

  }
  .form-check + .form-check{
    margin-left: 24px;
  }
  .wrapper-btn{
    margin-top: 30px;
    display: flex;
    @media (max-width: 680px){
      flex-direction: column-reverse;

      .btn{
        width: 100%;
      }
    }


    .block-right,
    .block-left{
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
.wrapper-btn__text{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 229px;
  @media (max-width: 991px){
    margin-right: 20px;
  }
  @media (max-width: 680px){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12px auto 0;
  }
}

  .btn{
    width: 228px;
    height: 56px;
    background: #D8E5F0;
border-radius: 10px;
color: #6C93B3;
font-weight: 600;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
  }
  .btn__active{
    background: #0088FE;
    color: #fff;

    &:hover{
      background: rgb(0 136 254 / 81%);
    }
  }

}
.section3__form-none{
  display: none;
}


@keyframes zoom-gift {
  0% {
      transform: scale(1) rotate(-10deg)
  }

  50% {
      transform: scale(1.1) rotate(10deg)
  }

  to {
      transform: scale(1) rotate(-10deg)
  }
}
@keyframes rotate-leaf {
  0% {
      transform: rotate(10deg)
  }

  50% {
      transform: rotate(0)
  }

  to {
      transform: rotate(10deg)
  }
}
@keyframes zoom {
  0% {
      transform: scale(1)
  }

  50% {
      transform: scale(1.1)
  }

  to {
      transform: scale(1)
  }
}


.hhhh{
  background: url(../img/pic.png);
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 360px;
  height: 362px;
  opacity: .5;
  opacity: 0;
}
.section-banner{
  background-color: #68D2FF;
  background-image: url(../img/svg/section-banner.svg);
  overflow: hidden;
  margin-bottom: 100px;

  .section-close{
    display: none;
  }

  @media (min-width: 1024px){
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin: 0;
    background: url(../img/section-banner-big.png);

    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: inherit;
    background-position-y: 17px;
    z-index: 10;

    .section-close{
      display: block;
      background: #EDF3F8;
      border-radius: 50%;
      width:  34px;
      height: 34px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      background-image: url(../img/svg/closebtn.svg);
      background-repeat: no-repeat;
      background-position: center;
      z-index: 3;
      &:hover{
        opacity: .6;
      }
    }
  }



  .container{
    padding-top: 0;
    padding-bottom: 0;
    padding-top: 25px;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 360px;
    @media (min-width: 1024px){
      min-height: inherit;
      width: 360px;
      height: 362px;
      padding: 0;
    }

  }
  p{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    @media (min-width: 1024px){
      display: none;
    }
  }
}
.section-banner-text{
  width: 100%;
  max-width: 330px;
  height: 80px;
  background-image: url(../img/section-banner-text.png);
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-bottom: 8px;
  animation: zoom infinite 1s ease-in-out; /**====**/

  @media (max-width: 360px){
    background-size: contain;
  }
  @media (min-width: 1024px){

    width: 301px;
    height: 71px;
    position: absolute;
    bottom: 83px;
    left: 27px;
    z-index: 3;
  }

}
.medvedeva-banner{
  width: 371px;
  height: 471px;
  position: absolute;
  top: 155px;
  right: -92px;
  z-index: 2;
  @media (min-width: 1024px){
    width: 261px;
    height: 332px;
    top: 0px;
    right: 0px;
  }


}
.section-banner-gift{
  z-index: 1;
  width: 215px;
  position: absolute;
  top: 193px;
  left: 5px;
  animation: zoom-gift infinite 5s ease-in-out; /**====**/
  @media (min-width: 1024px){
    top: 25px;
    width: 167px;
    left: 11px;
  }

}
.section-banner-vetka{
  width: 110px;
  position: absolute;
  top: 124px;
  transform: rotate(19deg);
  left: 13px;
  animation: rotate-leaf infinite 10s ease-in-out;  /**====**/
  @media (min-width: 1024px){
    top: 79px;
    left: 3px;
    width: 88px;
  }

}

.section-banner .btn{
  background-color: #FC3E4B;
  border-radius: 16px;
  color: #FFFFFF;
  font-weight: 600;
  width: 297px;
  height: 56px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: auto;
  z-index: 2;
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background-color: #c92833;
  }

  @media (min-width: 1024px){
    background-image: url(../img/oblako.png);
    background-color: transparent !important;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 17px;
    width: 342px;
    height: 75px;
    align-items: flex-end;
    padding-bottom: 14px;
    margin-bottom: 11px;
    transition: 1s;
    &:hover{
      text-decoration: underline;
    }
  }

}
.section-banner-botton{
  background-image: url(../img/section-banner-botton.png);
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 53px;
  z-index: 2;
  &::before, &::after{
    content: "";
    position: absolute;
    bottom: 0;
    background-image: url(../img/section-banner-botton.png);
    background-size: cover;

    width: 100%;
    height: 53px;
  }
  &::before{
    left: 0;
    transform: scale(-1, 1)  translateX(100%);
  }
  &::after{
    right: 0;
    transform: scale(-1, 1)  translateX(-100%);

  }
  @media (min-width: 1024px){
    display: none;
  }
}


