.section1{
  padding-bottom: 170px;
  @media (max-width: 680px){
    padding-bottom: 100px;
  }
  .btn{
    background-color:  #0077FF;
    border-radius: 67px;
    padding: 8px 19px;
  }
  .btn::after{
    content: "";
    background-image: url(../img/svg/vk-simvol.svg);
    width: 16px;
    height: 9px;
    display: inline-block;
    margin-left: 4px;
  }

  @media (max-width: 1200px){
    br{
      display: none;
    }
  }


}

.d-flex-custom{
  @media (max-width: 991px){
    flex-direction: column;

  }
}

.section1__text{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 90px;
  @media (max-width: 991px){
    flex-direction: column;
    text-align: center;
    margin-top: 60px;

  }
  @media (max-width: 680px){
  margin-bottom: 60px;
    text-align: left;
  }
  .block-left{
    font-size: 48px;
    line-height: 1.085;
    letter-spacing: -0.01em;
    @media (max-width: 991px){
      margin-bottom: 25px;
    }
    @media (max-width: 680px){
      font-size: 30px;
    }
    span{
      color: #0088FE;
    }
  }

  .block-right{
    color: #6C93B3;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 1.35;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    @media (max-width: 680px){
      font-size: 18px;
    }
  }
}

.section1__item{



  color: #fff;

  margin-left: 15px;
  @media (max-width: 991px){
    display: flex;
    flex-direction: column;
    & + &{
      margin-top: 30px;
    }
  }
  .section1__item-img{
    background: #EBF5FF;
  }
  &:first-child .section1__item-img{
    background: #0088FE;
  }
}
.section1__item-img{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: center;

  overflow: hidden;
  width: 254px;
  height: 254px;
  position: relative;


}
.section1__item:first-child{
  .section1__item-img::before{
    content: "";
    background-image: url(../img/bell-vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.section1__item-head{
  font-size: 112px;
  line-height: 1.1;
  position: relative;
}
.section1__item-descr{
  font-size: 20px;
  line-height: 26px;
  position: relative;
}
.section1__item-text{
  display: flex;
  justify-content: center;
}
.section1__item-img{
  border-radius: 50px;
  margin-bottom: 12px;
  @media (max-width: 991px){
    margin-right: auto;
    margin-left: auto;
  }
}

