h2.title{
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.01em;
  line-height: 1.1;
  margin-bottom: 90px;

  color: #0B212F;
  @media (max-width: 680px){
    font-size: 30px;
  }

  span{
    color:  #0088FE;
  }
}
.section2-wrapper{
  display: flex;
  gap: 30px;
  @media (max-width: 991px){
    flex-direction: column;
    align-items: center;
  }
}
.section3{
  @media (max-width: 991px){
  .section1__text{
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
  }
}
}


.section2-item{
  border-radius: 40px;
  color: #fff;
  width: 50%;
  padding-left: 40px;
  padding-top: 40px;
  min-height: 371px;
  position: relative;
  overflow: hidden;
  @media (max-width: 991px){
    max-width: 460px;
    width: 100%;
  }
  @media (max-width: 680px){
    min-height: inherit;
    padding-bottom: 40px;
    padding-right: 40px;
    text-align: center;
    max-width: 350px;
    min-height: 410px;
    text-align: left;
  }

  &::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;

    @media (max-width: 680px){
      width: 86%;
      height: 236px;
      background-size: cover;
      background-position: right;
      bottom: 0;
      top: inherit;
    }

  }

  &:first-child{
    background: #7622FF;
    &::before{
      background-image: url(../img/svg/section2-1.svg);
      @media (max-width: 680px){
        //display: none;
      }
    }

  }
  &:last-child{
    background: #0088FE;
    &::before{
      background-image: url(../img/svg/section2-2.svg);
      @media (max-width: 680px){
        //display: none;
      }
    }

  }
  h3{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.01em;
    margin-bottom: 16px;
  }
  p{
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;

    letter-spacing: -0.01em;
  }
  img{
    position: absolute;
    bottom: 0;
    right: 0;
    @media (max-width: 680px){
      //display: none;
      width: 217px;
      height: 249px;
    }
  }
}

