<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__inner">
        <div class="footer-inner-left">
          <a class="footer__logo" href="#">
            <img src="../img/svg/footer-logo.svg" alt="footer logo">
          </a>
          <p class="footer-left__description">Скидки по-новому с главным партнёром катка на ВДНХ</p>
        </div>
        <div class="footer-inner-right">
          <h4 class="footer-right__subtitle">Следите за новостям:</h4>
          <div class="footer-right-item">
            <p class="footer-right__item-caption">
              в нашем сообществе
            </p>
            <img src="../img/svg/vk.svg" alt="VK">
          </div>
          <div class="footer-right-item">
            <p class="footer-right__item-caption">
              на сайте vdnh.ru
            </p>
            <img src="../img/svg/logo VDNH.svg" alt="VDNH">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__inner">
        <p class="footer-bottom__caption">© 2022 Пакет от Х5</p>
        <p class="footer-bottom__caption">Политика конфиденциальности</p>
      </div>
    </div>
  </div>
  </div>
</footer>

<div class="modalBG ">
  <div class="modalAcceptReg">
    <div class="closeButton"></div>
    <img src="img/svg/modal2.svg">
    <h4 class="fourHeader">Поздравляем,<br>вы зарегистрировались<br>на мастер-класс</h4>
    Отправили билет<br>на электронную почту.<br>До встречи на катке!
  </div>
</div>

<div class="modalBG ">
  <div class="modalSendRequest">
    <div class="closeButton"></div>
    <img src="img/svg/modal1.svg">
    <h4 class="fourHeader">Оставьте заявку — <br>мы сообщим, когда откроется регистрация</h4>
    <input class="inputEmail" type="text" name="email" placeholder="Электронная почта">
    <button class="sendButton">Отправить</button>
    Нажимая на кнопку, я соглашаюсь<br>на обработку персональных данных
  </div>
</div>



