<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__inner">
        <div class="footer-inner-left">
          <a class="footer__logo"
            href="https://promo.x5paket.ru/?utm_source=offline_btl&utm_medium=marketing&utm_campaign=x5_vdnh-katok_general_brand&utm_content=vdnh-katok_mk-site_full-price"
            target="_blank">
            <img src="../img/svg/footer-logo.svg" alt="footer logo">
          </a>
          <p class="footer-left__description">Скидки по-новому с главным партнёром катка на ВДНХ</p>
        </div>
        <div class="footer-inner-right">
          <h4 class="footer-right__subtitle">Следите за новостям:</h4>
          <div class="footer-right-item">
            <p class="footer-right__item-caption">
              в нашем сообществе
            </p>
            <a href="https://vk.com/x5paket" target="_blank"><img src="../img/svg/vk.svg" alt="VK"></a>

          </div>
          <div class="footer-right-item">
            <p class="footer-right__item-caption">
              на сайте vdnh.ru
            </p>

            <a href="https://vdnh.ru/" target="_blank"><img src="../img/svg/logo VDNH.svg" alt="VDNH"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__inner">
        <p class="footer-bottom__caption">© 2021-2022 ООО «Корпоративный центр ИКС 5»</p>
        <p class="footer-bottom__caption">
          <span class="flex-c">
            <a target="_blank" href="file/subscription_user_agreement_final26.08.pdf">Пользовательское соглашение</a>
            <a target="_blank" href="file/privacy_policy_final_26.08.pdf">Политика конфиденциальности</a>
          </span>


        </p>
      </div>
    </div>
  </div>

</footer>

<div class="modalBG modal1">
  <div class="closeButton"></div>
  <div class="modalAcceptReg">
    <div class="closeButton"></div>
    <img src="img/svg/modal2.svg">
    <h4 class="fourHeader">Поздравляем,<br>вы зарегистрировались<br>на мастер-класс</h4>
    Отправили билет<br>на электронную почту.<br>До встречи на катке!
  </div>
</div>

<div class="modalBG modal2">
  <div class="closeButton"></div>
  <form class="modalSendRequest">
    <div class="closeButton"></div>
    <img src="img/svg/modal1.svg">
    <h4 class="fourHeader">Оставьте заявку — <br>мы сообщим, когда откроется регистрация</h4>
    <input name="user-email" class="inputEmail" type="text" name="email" placeholder="Электронная почта">
    <button class="soobshit-o-nachale sendButton btn-send">Отправить</button>
    Нажимая на кнопку, я соглашаюсь<br><span>на <a target="_blank" class="a-link"
        href="file/subscription_user_agreement_final 26.08.pdf">обработку персональных данных</a></span>
  </form>
</div>


<script src="js/main.js"></script>
