<div class="main-banner">
  <div class="main-banner-hover container"></div>

  <!--<div class="main-banner-bg main-banner-bg-svg"></div>-->
  <div class="main-banner-bg"></div>

  <div class="container container-custom">

    <div class="left-container">
      <h1>Участвуйте в мастер-классах от чемпионов по фигурному катанию с сервисом «Пакет от Х5»</h1>
      <p>Получите пакет ярких и вкусных эмоций <br>
        на катке ВДНХ: мастер-классы, квест <br>
        и классные призы</p>
    </div>


  </div>
</div>
