<div class="fixed_block_position">

	<div class="fixed_block">

<div class="registration">
  <div class="container">
    <div class="registration__inner">
      <span  class="registration__img">
        <img src="img/bell.webp" alt="">
      </span>
      <span class="registration__text">До начала регистрации:</span>
      <div class="registration__div">
        <span class="registration__day"><span id="timerday2">1</span> день</span>
        <span id="timerTime2" class="registration__time">12:42:50</span>
      </div>

      <a href="#" class="btn click-modal1" >Сообщить о начале</a>
    </div>

    <div class="registration__inner">
      <span  class="registration__img">
        <img src="img/bell.webp" alt="">
      </span>
      <div class="registration__div">
        <span class="registration__day"><span id="timerday">1</span> день</span>
        <span id="timerTime" class="registration__time">12:42:50</span>
      </div>

      <a href="#" class="btn click-modal1" >До Начала</a>
    </div>

  </div>
</div>

  </div>
</div>
