<div class="fixed_block_position">

  <div class="fixed_block">

    <div class="registration">
      <div class="container">
        <div class="registration__inner">
          <span class="registration__img">
            <img src="img/bell.webp" alt="">
          </span>
          <span class="registration__text">До начала регистрации:</span>
          <div class="registration__div">
            <span class="registration__day"><span id="timerday2" class="timer__days">1</span> день</span>
            <span id="timerTime2" class="registration__time">
              <span class="timer__item timer__hours">00</span>
              <span class="timer__item timer__minutes">00</span>
              <span class="timer__item timer__seconds">00</span></span>
          </div>

          <a href="#" class="btn click-modal1">Сообщить о начале</a>
        </div>

        <div class="registration__inner">
          <span class="registration__img">
            <img src="img/bell.webp" alt="">
          </span>
          <div class="registration__div">
            <span class="registration__day"><span class="timer__days2" id="timerday">1</span> день</span>
            <span id="timerTime" class="registration__time">
              <span class="timer__item timer__hours2">00</span>
              <span class="timer__item timer__minutes2">00</span>
              <span class="timer__item timer__seconds2">00</span></span>
          </div>

          <a href="#" class="btn click-modal1">До Начала</a>
        </div>

      </div>
    </div>

  </div>
</div>
