<div class="fixed_block_position">

  <div class="fixed_block">

    <div class="registration">
      <div class="container">
        <div class="registration__inner">
          <span class="registration__img">
            <img src="img/bell.webp" alt="">
          </span>
          <span class="registration__text">До начала регистрации:</span>
          <div class="registration__div">
            <span class="registration__day"><span id="timerday2" class="timer__days">1</span>
            <span class="day-title1">день</span></span>
            <span id="timerTime2" class="registration__time">
              <span class="timer__item timer__hours">00</span>
              <span class="timer__item timer__minutes">00</span>
              <span class="timer__item timer__seconds">00</span></span>
          </div>

          <div class="btn click-modal1">Сообщить о начале</div>
        </div>

        <div class="registration__inner">
          <span class="registration__img">
            <img src="img/bell.webp" alt="">
          </span>
          <div class="registration__div">
            <span class="registration__day"><span class="timer__days2" id="timerday">1</span>
            <span class="day-title2">день</span></span>
            <span id="timerTime" class="registration__time">
              <span class="timer__item timer__hours2">00</span>
              <span class="timer__item timer__minutes2">00</span>
              <span class="timer__item timer__seconds2">00</span></span>
          </div>

          <div class="btn click-modal1">До начала</div>
        </div>

      </div>
    </div>

  </div>
</div>

<script>
var endDate = new Date(2022, 11, 5, 12, 0, 0, 0).getTime();
var endDateArr = [

new Date(2023, 0, 11, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 12, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 13, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 11, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 12, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 13, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 11, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 12, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 13, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 11, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 12, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 13, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 11, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 12, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 13, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 11, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 12, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 13, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 11, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 12, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 13, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 11, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 12, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 13, 11, 0, 0, 0).getTime(),
new Date(2023, 0, 14, 11, 0, 0, 0).getTime(),

 new Date(2023, 0, 16, 11, 0, 0, 0).getTime(),  // 19 декабря 2022 года
 new Date(2023, 0, 17, 11, 0, 0, 0).getTime(),  // 19 декабря 2022 года


  new Date(2022, 0, 22, 11, 0, 0, 0).getTime(), // 30 декабря 2022 года
  new Date(2023, 0, 29, 11, 0, 0, 0).getTime() // 6 января 2023 года
];
//var endDateArr = [];
//endDateArr.push(new Date(2023, 0, 16, 11, 0, 0, 0).getTime());
//endDateArr.push(new Date(2023, 0, 17, 11, 0, 0, 0).getTime());


function createLabel(number, titles) {
  const cases = [2, 0, 1, 1, 1, 2];
  return `${titles[number % 100 > 4 && number % 100 < 20 ? 2 : cases[number % 10 < 5 ? number % 10 : 5]]}`;
}
let indexArr = 0;
var timer = setInterval(function() {
  let now = new Date().getTime();

  let t = endDateArr[indexArr] - now;
  while (t < 0) { // выводит 0, затем 1, затем 2

    t = endDateArr[indexArr] - now;
    indexArr++;
  }



  if (t >= 0) {

      let days = Math.floor(t / (1000 * 60 * 60 * 24));
      let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      let mins = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
      let secs = Math.floor((t % (1000 * 60)) / 1000);

      const elDays = document.querySelector('.timer__days');
      const elHours = document.querySelector('.timer__hours');
      const elMinutes = document.querySelector('.timer__minutes');
      const elSeconds = document.querySelector('.timer__seconds');

      const elDays2 = document.querySelector('.timer__days2');
      const elHours2 = document.querySelector('.timer__hours2');
      const elMinutes2 = document.querySelector('.timer__minutes2');
      const elSeconds2 = document.querySelector('.timer__seconds2');

      elDays.textContent = days + "";
      elHours.textContent = ("0"+hours).slice(-2) + "";
      elMinutes.textContent = ("0"+mins).slice(-2) + "";
      elSeconds.textContent = ("0"+secs).slice(-2) + "";

      elDays2.textContent = days + "";
      elHours2.textContent = ("0"+hours).slice(-2) + "";
      elMinutes2.textContent = ("0"+mins).slice(-2) + "";
      elSeconds2.textContent = ("0"+secs).slice(-2) + "";

      let day =  createLabel(days, ['день', 'дня', 'дней']);

      const day_title1 = document.querySelector('.day-title1');
      const day_title2 = document.querySelector('.day-title2');

      day_title1.textContent = day;
      day_title2.textContent = day;

  }

}, 1000);

</script>
