<div class="section1" id="idsection1">
  <div class="container">

    <div class="section1__text ">
      <div class="block-left">
        С 26 ноября 2022 года <br>
        по 26 февраля 2023 года <br>
        на территории катка на ВДНХ <br>
        пройдут <span>обучающие мастер- <br>
          классы от Алексея Ягудина <br>
          и Евгении Медведевой</span>
      </div>

      <div class="block-right">
        <div>
          Благодаря сервису <span style="white-space: nowrap;">«Пакет от Х5»</span> <br>
          каждый желающий сможет <br>
          исполнить свою мечту <br>
          и попробовать себя на льду под <br>
          руководством звёздных кураторов. <br>
          В рамках проекта наши чемпионы <br>
          проведут 22 ярких мастер-класса. <br>
          Это уникальная возможность для <br>
          каждого бесплатно посетить каток <br>
          и оформить прокат коньков.
        </div>

      </div>
    </div>

    <div class="d-flex justify-content-end d-flex-custom ">

      <div class="section1__item">
        <div class="section1__item-img">
          <div class="section1__item-head">22</div>
          <div class="section1__item-descr">Мастер-класса <br>
            от звёздных <br>
            кураторов</div>

        </div>

      </div>


      <div class="section1__item">
        <div class="section1__item-img"><img src="img/section1-item1-min.webp" alt=""></div>

        <div class="section1__item-text">
          <a href="https://vk.com/alexei.yagudin" target="_blank" class="btn">Алексей Ягудин </a>
        </div>
      </div>


      <div class="section1__item">
        <div class="section1__item-img"><img src="img/section1-item2-min.webp" alt=""></div>

        <div class="section1__item-text">
          <a href="https://vk.com/jmedvedevaj" target="_blank" class="btn">Евгения Медведева </a>
        </div>
      </div>

    </div>


  </div>
</div>
