<div class="block">
  <div class="container">
    <section class="secLessons">
      <div class="blockHeader">
        <h2 class="secondHeader">Для всех у нас есть<br><span class="blueHeader">бесплатные уроки<br>от звёздных кураторов</span></h2>
        <p class="headParagraph">Пока ждёте мастер-классы приходите на каток и тренируйтесь самостоятельно. Специально<br>для вас записали уроки от звёзд фигурного катания.</p>
      </div>
      <div class="blockLesson">
        <div class="videoLesson backgroundBlue">Ёлочка<button class="playButton"></button></div>
        <div class="videoLesson backgroundPurp">Фонарик<button class="playButton"></div>
        <div class="videoLesson backgroundPink">Торможение<button class="playButton"></div>
        <div class="videoLesson backgroundLightPurp">Катание спиной<button class="playButton"></div>
      </div>
    </section>

    <section class="secQuests">
      <div class="blockHeader">
        <h2 class="secondHeader">А ещё сервис «Пакет от Х5» подготовил для вас <span class="blueHeader">интерактивный квест<br>на льду</span></h2>
        <p class="headParagraph">Весело проводите время на квесте<br>с сервисом «Пакет от Х5»<br>и выигрывайте призы. Для участия следуйте инструкции ниже.</p>
      </div>
      <div class="blockQuestSteps">
         <div class="questStep step1 backgroundBlue"><div class="stepHead">Шаг 1</div>Найдите одну из 5 точек активации на катке ВДНХ</div>
         <div class="questStep step2 backgroundPurp"><div class="stepHead">Шаг 2</div>Отсканируйте QR-код и начните игру.<br>Вам понадобится интернет</div>
         <div class="questStep step3 backgroundPink"><div class="stepHead">Шаг 3</div>Выполните все задания и получите свои призы </div>
      </div>
    </section>

    <section class="secGift">
        <div class="videoGift">
           <video class="videoGift" preload="auto" no-controls autoplay loop playsinline muted>
            <source src="video/girlDance.mp4" type="video/mp4">
            <source src="video/girlDance.webm" type="video/webm" />
            <source src="video/girlDance.ogv" type="video/ogv" />
          </video>
          <img class="videoGiftImg" src="img/svg/giftHearths.svg">
        </div>
        <div class="infoGift">
          <h3 class="thirdHeader">Я гарантирую, что вы классно проведёте время<br><span class="blueHeader">и получите призы<br>от сервиса «Пакет от Х5»</span></h3>
          <img src="img/svg/giftVector.svg ">
        </div>
    </section>

    <section class="secSell">

       <p class="sellParagrph"><img class="sellImg" src="img/logoSell.png">__ПАКЕТ — это способ<br>экономить деньги<br>на регулярных покупках</p>
       <button class="startButton">Начать использовать</button>
       Доступ к расширенной системе лояльности<br>предоставляется при абонентской оплате 120₽/мес.
    </section>

    <section class="secSeeYou">
      <h2 class="secondHeader">До встречи на катке</h2>
      <div class="videoGift">
          <video class="videoGift" preload="auto" no-controls autoplay loop playsinline muted>
            <source src="video/girlKiss.mp4" type="video/mp4">
            <source src="video/girlKiss.webm" type="video/webm" />
            <source src="video/girlKiss.ogv" type="video/ogv" />
          </video>
        </div>
    </section>
  </div>

</div>
