<div class="section3" id="idsection3">
  <form class="container">

    <div class="section1__text ">
      <div class="block-left">

        Зарегистрируйтесь <br>
        на <span>мастер-класс <br>
        к Алексею Ягудину <br>
        и Евгении Медведевой</span>
      </div>

      <div class="block-right">Обязательно зарегистрируйтесь <br>
        на мастер-класс. На входе попросят <br>
        билет. Регистрация открывается <br>
        за сутки до начала.</div>
    </div>

    <div class="section3__date">
      <div class="block-left">
        <div class="section3__info">
          <img src="img/section3-evgenia.webp" alt="">
          <div class="day-top day-active">

              <div class="day-expectation p ">
                Скоро откроем <br>
                регистрацию <br>
                к Евгении Медведевой
              </div>

              <div class="day-content">
                <div class="day-active__title">4 декабря
                </div>
                <div class="day-active__time">

                  <input class="how-many-seats" data-value="12" type="radio" id="huey" name="drone" value="4 декабря 10:00 – 10:45" checked>

                  <label for="huey">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14 5.28571C14 4.73343 13.5523 4.28571 13 4.28571C12.4477 4.28571 12 4.73343 12 5.28571H14ZM13 13H12C12 13.2652 12.1054 13.5196 12.2929 13.7071L13 13ZM17.4358 18.85C17.8263 19.2405 18.4594 19.2405 18.85 18.85C19.2405 18.4594 19.2405 17.8263 18.85 17.4358L17.4358 18.85ZM13 24C6.92487 24 2 19.0751 2 13H0C0 20.1797 5.8203 26 13 26V24ZM24 13C24 19.0751 19.0751 24 13 24V26C20.1797 26 26 20.1797 26 13H24ZM13 2C19.0751 2 24 6.92487 24 13H26C26 5.8203 20.1797 0 13 0V2ZM13 0C5.8203 0 0 5.8203 0 13H2C2 6.92487 6.92487 2 13 2V0ZM12 5.28571V13H14V5.28571H12ZM12.2929 13.7071L17.4358 18.85L18.85 17.4358L13.7071 12.2929L12.2929 13.7071Z" fill="#0088FE"/>
                      </svg>
                    <span>10:00</span>– <span>10:45</span></label>
                </div>
                <div class="day-active__time">

                  <input  class="how-many-seats" data-value="10" type="radio" id="dewey" name="drone" value="4 декабря 11:15 – 12:00">

                  <label for="dewey">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 5.28571C14 4.73343 13.5523 4.28571 13 4.28571C12.4477 4.28571 12 4.73343 12 5.28571H14ZM13 13H12C12 13.2652 12.1054 13.5196 12.2929 13.7071L13 13ZM17.4358 18.85C17.8263 19.2405 18.4594 19.2405 18.85 18.85C19.2405 18.4594 19.2405 17.8263 18.85 17.4358L17.4358 18.85ZM13 24C6.92487 24 2 19.0751 2 13H0C0 20.1797 5.8203 26 13 26V24ZM24 13C24 19.0751 19.0751 24 13 24V26C20.1797 26 26 20.1797 26 13H24ZM13 2C19.0751 2 24 6.92487 24 13H26C26 5.8203 20.1797 0 13 0V2ZM13 0C5.8203 0 0 5.8203 0 13H2C2 6.92487 6.92487 2 13 2V0ZM12 5.28571V13H14V5.28571H12ZM12.2929 13.7071L17.4358 18.85L18.85 17.4358L13.7071 12.2929L12.2929 13.7071Z" fill="#0088FE"/>
                    </svg>
                    <span>11:15</span> – <span>12:00</span></label>
                </div>
                <p ><span>Осталось <span class="seats">12</span> мест</span></p>
              </div>

           </div>



        </div>


        <div class="section3__days">
          <!--<div class="section3__day">
            <div class="section3__number">4</div>
            <div class="section3__month">декабря</div>
            <div class="section3__lock"></div>
          </div>-->
          <div class="section3__day">
            <div class="section3__number">18</div>
            <div class="section3__month">декабря</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">15</div>
            <div class="section3__month">января</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">29</div>
            <div class="section3__month">января</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">12</div>
            <div class="section3__month">февраля</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">26</div>
            <div class="section3__month">февраля</div>
            <div class="section3__lock"></div>
          </div>
        </div>

      </div>
      <div class="block-right">

        <div class="section3__info">
          <img src="img/section3-alex.webp" alt="">
          <div class="p">Скоро откроем <br>
            регистрацию<br>
            к Алексею Ягудину</div>
        </div>

        <div class="section3__days">
          <div class="section3__day">
            <div class="section3__number">11</div>
            <div class="section3__month">декабря</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">25</div>
            <div class="section3__month">декабря</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">22</div>
            <div class="section3__month">января</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">5</div>
            <div class="section3__month">февраля</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">19</div>
            <div class="section3__month">февраля</div>
            <div class="section3__lock"></div>
          </div>
        </div>

      </div>

    </div>

    <!--- section3__form-none -->
    <div class="section3__form ">

      <div class="block-left">
        <h2 class="title">Заполните <br>
          контактные <br>
          данные</h2>

        <p>Билет придёт на электронную почту. <br>Приходите вовремя. </p>
        <p>Желаем отличного настроения!</p>
      </div>

      <div class="block-right">
        <input name="user-name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="ФИО">

        <div class="two-elements">
          <input name="user-phone" type="text" class="form-control input__mask _req phone_click" id="exampleFormControlInput1" placeholder="Телефон">
          <input name="user-email" type="text" class="form-control _email _req" id="exampleFormControlInput1" placeholder="Электронная почта">
        </div>

        <p>Есть свои коньки? <br>
          Если нет — предоставим бесплатно</p>

          <div class="d-flex">
            <div class="form-check">
              <input value="Да" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
              <label class="form-check-label" for="flexRadioDefault1">
                Да
              </label>
            </div>
            <div class="form-check">
              <input value="Нет" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                Нет
              </label>
            </div>
          </div>


          <div class="wrapper-btn">
            <div class="wrapper-btn__text"><span>Нажимая на кнопку, я соглашаюсь на  <a target="_blank" class="a-link" href="file/subscription_user_agreement_final 26.08.pdf">обработку персональных данных</a></span></div>
            <button class="zapisatsa btn btn-send">Записаться</button>
          </div>

        </div>

    </div>

  </form>
</div>
