<div class="section2" id="idsection2">
  <div class="container">
    <h2 class="title">Каждый участник мастер-классов <br>
      получит <span>подарки</span></h2>

    <div class="section2-wrapper">
      <div class="section2-item">
        <h3>1. Бесплатный <br>
          прокат коньков</h3>
        <p>Для всех участников МК, <br>
          если отсутствуют <br>
          свои коньки</p>

          <img src="img/section2-1.webp" alt="">
      </div>
      <div class="section2-item">
        <h3>2. Бесплатное <br>
          посещение катка</h3>
        <p>На время проведения <br>
          МК или до окончания <br>
          утреннего сеанса</p>
          <img src="img/section2-2.webp" alt="">
      </div>

    </div>


  </div>
</div>
