<div class="section3">
  <div class="container">

    <div class="section1__text ">
      <div class="block-left">

        Зарегистрируйтесь <br>
        на <span>мастер-класс <br>
        к Алексею Ягудину <br>
        и Евгении Медведевой</span>
      </div>

      <div class="block-right">Обязательно зарегистрируйтесь <br>
        на мастер-класс. На входе попросят <br>
        билет. Регистрация открывается <br>
        за сутки до начала.</div>
    </div>

    <div class="section3__date">
      <div class="block-left">
        <div class="day"></div>

      </div>
      <div class="block-right">


      </div>

    </div>

  </div>
</div>
