<div class="section3">
  <div class="container">

    <div class="section1__text ">
      <div class="block-left">

        Зарегистрируйтесь <br>
        на <span>мастер-класс <br>
        к Алексею Ягудину <br>
        и Евгении Медведевой</span>
      </div>

      <div class="block-right">Обязательно зарегистрируйтесь <br>
        на мастер-класс. На входе попросят <br>
        билет. Регистрация открывается <br>
        за сутки до начала.</div>
    </div>

    <div class="section3__date">
      <div class="block-left">
        <div class="section3__info">
          <img src="img/section3-evgenia.webp" alt="">
          <p>Скоро откроем <br>
            регистрацию <br>
            к Евгении Медведевой</p>
        </div>

        <div class="section3__days">
          <div class="section3__day">
            <div class="section3__number">4</div>
            <div class="section3__month">декабря</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">18</div>
            <div class="section3__month">декабря</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">15</div>
            <div class="section3__month">января</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">29</div>
            <div class="section3__month">января</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">12</div>
            <div class="section3__month">февраля</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">26</div>
            <div class="section3__month">февраля</div>
            <div class="section3__lock"></div>
          </div>
        </div>

      </div>
      <div class="block-right">

        <div class="section3__info">
          <img src="img/section3-alex.webp" alt="">
          <p>Скоро откроем <br>
            регистрацию<br>
            к Алексею Ягудину</p>
        </div>

        <div class="section3__days">
          <div class="section3__day">
            <div class="section3__number">11</div>
            <div class="section3__month">декабря</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">25</div>
            <div class="section3__month">декабря</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">22</div>
            <div class="section3__month">января</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">5</div>
            <div class="section3__month">февраля</div>
            <div class="section3__lock"></div>
          </div>
          <div class="section3__day">
            <div class="section3__number">19</div>
            <div class="section3__month">февраля</div>
            <div class="section3__lock"></div>
          </div>
        </div>

      </div>

    </div>

    <div class="section3__form">

      <div class="block-left">
        <h2 class="title">Заполните <br>
          контактные <br>
          данные</h2>

        <p>Билет придёт на электронную почту. <br>Приходите вовремя. </p>
        <p>Желаем отличного настроения!</p>
      </div>

      <div class="block-right">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ФИО">

        <div class="two-elements">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Телефон">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Электронная почта">
        </div>

        <p>Есть свои коньки? <br>
          Если нет — предоставим бесплатно</p>

          <div class="d-flex">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
              <label class="form-check-label" for="flexRadioDefault1">
                Да
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                Нет
              </label>
            </div>
          </div>


          <div class="wrapper-btn">
            <div class="wrapper-btn__text">Нажимая на кнопку, я соглашаюсь на обработку персональных данных</div>
            <div class="btn">Записаться</div>
          </div>

      </div>

    </div>

  </div>
</div>
